
span.hidden-message{
  opacity: 0.0;

}
span.shown-message{
  opacity: 1.0;
}



h1{
  font-weight: bold;
  color: red;
  font-size: 100px;
  text-align: center;
  background-color: black;
}

h2{
  font-weight: bold;
  font-size: 50px;
  text-align: left;
}

h4{
  font-weight: bold;
  font-size: 50px;
  text-align: left;
}


a:hover{

background-color: yellow;

}

.four{

}

.genic{
  background-image: url(genic1.png); /* image link: from:https://pbs.twimg.com/profile_images/676716661060165633/gTYVJLdK.jpg and image is from Twitter*/

}

.wrong{

background-image: url(buffstankface.png);
height:100%;
width:100%;
}

.center{

text-align: center;

}

.list{

font-size: 50px;
color: red;
}

a{
color: darkblue;
background-color: green;
}

.background{
color: red;
background-color: darkblue;
font-size: 20px;
}
